<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_blank_zhezhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{190,1},{37,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_blank_zhezhao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,26}</string>
                <key>textureRect</key>
                <string>{{1205,152},{25,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_certain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,50}</string>
                <key>spriteSourceSize</key>
                <string>{130,50}</string>
                <key>textureRect</key>
                <string>{{790,90},{130,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_checkbox_round_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1145,176},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_checkbox_round_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1163,133},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1203,206},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{1097,181},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_coin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{360,167},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{286,169},{70,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_coin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{434,166},{74,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_coin4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{67,173},{66,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_coin5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{564,166},{54,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_coin6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{504,166},{58,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_coin7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{568,90},{44,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_coinBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,32}</string>
                <key>spriteSourceSize</key>
                <string>{174,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_contBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,75}</string>
                <key>spriteSourceSize</key>
                <string>{82,75}</string>
                <key>textureRect</key>
                <string>{{344,90},{82,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_content_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,98}</string>
                <key>spriteSourceSize</key>
                <string>{103,98}</string>
                <key>textureRect</key>
                <string>{{894,90},{103,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_content_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{988,195},{44,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_content_up_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,73}</string>
                <key>spriteSourceSize</key>
                <string>{81,73}</string>
                <key>textureRect</key>
                <string>{{190,90},{81,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_decorate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,36}</string>
                <key>spriteSourceSize</key>
                <string>{90,36}</string>
                <key>textureRect</key>
                <string>{{994,90},{90,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{190,40},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_female.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1203,90},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_game_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,53}</string>
                <key>spriteSourceSize</key>
                <string>{49,53}</string>
                <key>textureRect</key>
                <string>{{1046,181},{49,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_gamecoin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{620,166},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_gamecoin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{660,90},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_gamecoin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{498,90},{74,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_gamecoin4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{428,90},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_gamecoin5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{694,164},{50,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_gamecoin6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,70}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{732,90},{56,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_gamecoin7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{614,90},{44,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_gold_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{1122,133},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_head_album.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,88}</string>
                <key>textureRect</key>
                <string>{{1032,90},{89,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_head_zhezhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{265,90},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_ignore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,50}</string>
                <key>spriteSourceSize</key>
                <string>{130,50}</string>
                <key>textureRect</key>
                <string>{{842,90},{130,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_inputBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{61,64}</string>
                <key>textureRect</key>
                <string>{{1,177},{61,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_leftNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,76}</string>
                <key>spriteSourceSize</key>
                <string>{170,76}</string>
                <key>textureRect</key>
                <string>{{35,1},{170,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_leftPressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,75}</string>
                <key>spriteSourceSize</key>
                <string>{170,75}</string>
                <key>textureRect</key>
                <string>{{113,1},{170,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{224,173},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,65}</string>
                <key>spriteSourceSize</key>
                <string>{79,65}</string>
                <key>textureRect</key>
                <string>{{143,173},{79,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_male.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1165,90},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{1145,218},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_progress_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{1174,218},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_red_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1203,179},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_single_radio_btn_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{746,162},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_single_radio_btn_un_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{1122,90},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_single_radio_switch_btn_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{746,205},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_single_radio_switch_btn_un_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1205,116},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_split.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,2}</string>
                <key>spriteSourceSize</key>
                <string>{19,2}</string>
                <key>textureRect</key>
                <string>{{35,173},{19,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_split_mall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,2}</string>
                <key>spriteSourceSize</key>
                <string>{4,2}</string>
                <key>textureRect</key>
                <string>{{56,173},{4,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_time_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{894,195},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_time_progress_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{941,195},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_time_progress_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,27}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{782,222},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_top_tip_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1014,87}</string>
                <key>spriteSourceSize</key>
                <string>{1014,87}</string>
                <key>textureRect</key>
                <string>{{224,1},{1014,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_triangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{190,70},{16,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1240,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eaafde7cabbac452c3c631466db7a33:86b6962e1f1348e396ccd1fa37734d4a:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
