<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_FB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,119}</string>
                <key>spriteSourceSize</key>
                <string>{358,119}</string>
                <key>textureRect</key>
                <string>{{1,1},{358,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_checkbox_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{746,95},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_checkbox_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{721,95},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_feedback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{813,45},{73,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_font_%.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{769,95},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_font_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{789,95},{16,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_font_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{923,89},{10,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_font_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{887,45},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_font_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{887,67},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_font_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{887,89},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_font_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{905,45},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_font_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{905,67},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_font_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{905,89},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_font_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{923,45},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_font_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{923,67},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_font_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{935,89},{18,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_guest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,119}</string>
                <key>spriteSourceSize</key>
                <string>{358,119}</string>
                <key>textureRect</key>
                <string>{{361,1},{358,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_promptBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1190,42}</string>
                <key>spriteSourceSize</key>
                <string>{1190,42}</string>
                <key>textureRect</key>
                <string>{{813,1},{1190,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_rewardTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{92,90}</string>
                <key>textureRect</key>
                <string>{{721,1},{92,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{2004,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75d8961c6e93d3858816732d3c7da5b1:e1b346e180a254ca4420359bb4bf2b88:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
